{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
        <h4>{% trans 'Log in' %}</h4><hr>
    
        <form method="post">
    
            {% csrf_token %}
            {% bootstrap_form form %}
    
            <button class="btn btn-primary">{% trans 'Log in' %}</button>

            <p class="my-3">If you have already an account <span><a href="{% url 'accounts:sign_up' %}">Click here</a></span></p>
    
        </form>
    
        <hr>
    
        <ul>
            <li>
                <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
            </li>
            <li>
                <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
            </li>
            <li>
                <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
